header {
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 100px;
}



.container {
    display:flex;
    
    justify-content: center;
}

.buttonContainer {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

#gridContainer {
    height:480px;
    width:480px;
    display:flex;
    background-color: blueviolet;
    flex-direction: column;
     
}
.gridRow {
    display:flex;
    align-items: center;
    background-color: blue;
    justify-content: center;
    flex: 1;
    border:  0;
    margin: 0;
    
}

.gridSquare {
    height: 100%;
    width: 100%;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: thin;
    flex: 1;
    
}
.coloredSquare {
    background-color: black;
}